@model IEnumerable<Inventario.Models.Producto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad_Stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Talla)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioMayor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioDetalle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioCosto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad_Stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Talla)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioMayor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioDetalle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioCosto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdProducto }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdProducto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdProducto })
        </td>
    </tr>
}

</table>
